.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-container {
    flex-direction: row;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1em;
}

.initial-text {
    color: #F11866;
}

button {
    padding: 1em 2em;
    margin-right: 1em;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn-one {
    background-color: #F11866;
    border: 1px solid #F11866;
    color: white;
}

.btn-two {
    background-color: inherit;
    border: 1px solid #F11866;

}

.btn-one,
.btn-two {
    font-weight: 600;
}

.btn-one:hover,
.btn-two:hover {
    background-color: #f76ea0;
}


